@CHARSET "ISO-8859-1";

body, html {
	margin: 0;
	padding: 0;
	text-align: justify;
 	font-size: 14px;
 	line-height: 24px;
 	font-family: "Trebuchet MS", Helvetica, Sans-Serif;
 	padding-top: 1px;
}

div.notep {
	color: #666560;
	background: url("note.png") no-repeat scroll left top #F2F4D5;
	display: block;
	font-size: 14px;
	margin: 15px 0px;
	min-height: 40px;
	padding: 5px 0px 0px 70px;
	/*
		font-size: 14px; background: #cccfff url(note_icons.png) no-repeat left center; padding-left: 80px; min-height: 56px; display: block; padding-top: 5px; margin-top: 15px; margin-bottom: 15px;
	*/
}

div.pagerDiv {
	padding-bottom: 15px;
}

div.searchDiv {
	padding-bottom: 15px;
}

div.capsule {
	width:800px;
	margin: 0 auto;
}

#wrapper {
	width:800px;
	margin: 0 auto;
}

div.clear {
	clear:both;
	padding-top: 3px;
}

div.float1 {
	float:left;
}

div.space {
	float: left;
	padding: 3px;
}
div.entriesDiv {
	width: 380px;
	float: left;
	display: block;
}

#playerDivContainer {
	float: left;
	width: 400px;
	height: 300px;
}
#playerDiv {
	margin-top: 1px;
}

.italicbold {
	font-weight: bold;
	font-style: italic;
}

#purchaseWindow {
	display: none;
	position: absolute;
	z-index: 9999;
	background-color: #ededed;
	border: 2px solid black;
	top: 0px;
	left: 0px;
	padding: 10px;
}

.buyButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #9C8D8D;
	display:inline-block;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.buyButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.buyButton:active {
	position:relative;
	top:1px;
}

#categoryList {
	height: 59px;
	margin-bottom: 15px;
}

div.categories {
	float: left;
	margin-right: 10px;
	border: 1px solid black;
	width: 90px;
	height: 54px;
	font-size: 12px;
	cursor: pointer;
}

div.category {
	line-height: 0px;
	height: 34px;
}

div.categoryName {
	text-align: center;
	white-space:nowrap;
    overflow:hidden;
    line-height: 20px;
}

div.clearCategory {
	clear: both;
}

#leftTriangle {
	margin-top: 9px;
	margin-right: 10px;
	float: left;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#rightTriangle {
	float: left;
	margin-top: 9px;
}

#entriesDiv {
	width: 380px;
	height: 312px;
}

.channelSigns {
	position: absolute;
	margin-top: -55px;
}

#userDiv {
	margin-bottom: 15px;
}

.thumblink {
	cursor: pointer;
}

.userthumblink {
	cursor: pointer;
}

.purchaseTitles {
	float: left;
	margin-right: 8px;
	font-weight: bold;
}

#welcomeMessage {
	margin-bottom: 5px;
}

div.userCategories {
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	border: 1px solid black;
	width: 120px;
	height: 66px;
	font-size: 12px;
	cursor: pointer;
}

div.userCategory {
	line-height: 0px;
	height: 46px;
}

#play {
	position: relative;
	display: none;
	margin-top: -65px;
	margin-left: 33px;
}

.userid {
	background: silver;
}